/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/mt65xx.h>
#include "mt7981b.dtsi"

/ {
	model = "ZHAO 7981R128";
	compatible = "zhao,7981r128", "mediatek,mt7981";

	aliases {
		serial0 = &uart0;
		label-mac-device = &gmac0;
		led-boot = &led_green;
		led-failsafe = &led_green;
		led-running = &led_green;
		led-upgrade = &led_green;
	};

	chosen {
		bootargs = "console=ttyS0,115200 loglevel=8 earlycon";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x20000000>; /* 512MB RAM */
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_green: green {
			label = "green:status";
			gpios = <&pio 7 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	sfp: sfp {
		compatible = "sff,sfp";
		i2c-bus = <&i2c0>;
		los-gpios = <&pio 11 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&pio 12 GPIO_ACTIVE_LOW>;
		tx-disable-gpios = <&pio 13 GPIO_ACTIVE_HIGH>;
	};
};

&uart0 {
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_sfp_pins>;
	status = "okay";
};

&pwm {
	/* PWM0/PWM1 已严格复用给 SFP I2C，禁用 pwm 节点消除 pinctrl 错误 */
	status = "disabled";
};

&pio {
	i2c_sfp_pins: i2c-sfp-pins {
		mux {
			function = "i2c";
			groups = "i2c0_1";
		};
		conf {
			pins = "PWM0", "PWM1";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_11>;
		};
	};

	spi0_flash_pins: spi0-flash-pins {
		mux {
			function = "spi";
			groups = "spi0", "spi0_wp_hold";
		};
		conf {
			pins = "SPI0_CLK", "SPI0_CS", "SPI0_MOSI", "SPI0_MISO", "SPI0_WP", "SPI0_HOLD";
			drive-strength = <MTK_DRIVE_8mA>;
		};
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_flash_pins>;
	status = "okay";

	spi-nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <52000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "BL2";
				reg = <0x00000000 0x00100000>;
			};

			partition@100000 {
				label = "u-boot-env";
				reg = <0x00100000 0x00080000>;
			};

			partition@180000 {
				label = "Factory";
				reg = <0x00180000 0x00200000>;
			};

			partition@380000 {
				label = "FIP";
				reg = <0x00380000 0x00200000>;
			};

			partition@580000 {
				label = "ubi";
				reg = <0x00580000 0x07200000>;
			};
		};
	};
};

&eth {
	status = "okay";

	gmac0: mac@0 {
		compatible = "mediatek,eth-mac";
		reg = <0>;
		phy-mode = "2500base-x";
		phy-handle = <&phy0>;

		nvmem-cells = <&macaddr_factory_4>;
		nvmem-cell-names = "mac-address";
	};

	gmac1: mac@1 {
		compatible = "mediatek,eth-mac";
		reg = <1>;
		phy-mode = "sgmii";
		phy-handle = <&phy_switch>;

		nvmem-cells = <&macaddr_factory_4>;
		nvmem-cell-names = "mac-address";
		mac-address-increment = <1>;
	};
};

&mdio {
	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <0>;
	};

	phy_switch: switch@1f {
		compatible = "mediatek,mt7531";
		reg = <0x1f>;
		reset-gpios = <&pio 39 GPIO_ACTIVE_LOW>;

		ports {
			#address-cells = <1>;
			#size-cells = <1>;

			port@0 {
				reg = <0>;
				label = "lan1";
			};

			port@6 {
				reg = <6>;
				label = "cpu";
				ethernet = <&gmac1>;
				phy-mode = "sgmii";
			};
		};
	};
};

&factory {
	compatible = "nvmem-cells";
	#address-cells = <1>;
	#size-cells = <1>;

	macaddr_factory_4: macaddr@4 {
		reg = <0x4 0x6>;
	};
};
